---
import "@/styles/globals.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta property="og:image" content="/ssi.png" />
    <meta property="og:image:secure_url" content="/ssi.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />
    <meta property="og:image:alt" content="Logo del Shopify Meetup 2024" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/iqo0vyn.css" />
    <title>Shopify Meetup 2024</title>
  </head>
  <body class="dark">
    <slot />
  </body>
</html>
